<mat-grid-list cols="12" gutterSize="25px">
    
    <!-- First Row -->
    <mat-grid-tile colspan="3" rowspan="2">
        <img src="assets/Conductivity.png" width="100%" height="100%">
    </mat-grid-tile>

    <mat-grid-tile colspan="3" rowspan="2">
        <img src="assets/Salinity.png" width="100%" height="100%">
    </mat-grid-tile>
    
    <mat-grid-tile colspan="3" rowspan="2">
        <img src="assets/Turrbidity.png" width="100%" height="100%">
    </mat-grid-tile>
    
    <mat-grid-tile colspan="3" rowspan="2">
        <img src="assets/PH.png" width="100%" height="100%">
    </mat-grid-tile>

    <!-- Second Row -->
    <mat-grid-tile colspan="4" rowspan="2">
        <img src="assets/Map.png" width="100%" height="100%">
    </mat-grid-tile>
    
    <mat-grid-tile colspan="4" rowspan="2" style="background-color: white; color: black; font-size: 25px;">
        <p>Chart</p>
    </mat-grid-tile>
    
    <mat-grid-tile colspan="4" rowspan="2" style="background-color: white; color: black; font-size: 25px;">
        <p>Weather Chart</p>
    </mat-grid-tile>

    <!-- third Row -->
    <mat-grid-tile colspan="12" rowspan="2" style="background-color: white; color: black; font-size: 25px;">
        <p>Tide Chart</p>
    </mat-grid-tile>
    
</mat-grid-list>