
<header>
    <button class="menubutton" (click)="menubar.toggle()">
        <mat-icon>menu</mat-icon>
        <p>MENU</p>
    </button>
    <p class="title">
        DE CONTAINERISED DESALINATION SYSTEM
    </p>
</header>

<mat-sidenav-container>
    <mat-sidenav #menubar mode="side">
        
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    2D DASHBOARD
                </mat-panel-title>
            </mat-expansion-panel-header>

            <h3>Kusu island</h3>
            <ul>
                <li>Sea Water Quality</li>
                <li><a routerLink="/pwq">Product Water Quality</a></li>
                <li>System Power Consumption</li>
                <li>Brine Discharge Quality</li>
                <li>Single Line Diagram</li>
            </ul>

        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    3D DASHBOARD
                </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>

    </mat-sidenav>

    <mat-sidenav-content>

        <router-outlet></router-outlet>

    </mat-sidenav-content>
</mat-sidenav-container>
