
<header>
    <button class="menubutton" (click)="menubar.toggle()">
        <mat-icon>menu</mat-icon>
        <p>MENU</p>
    </button>
    <p class="title">
        DE CONTAINERISED DESALINATION SYSTEM
    </p>
</header>

<mat-sidenav-container>
    
    <mat-sidenav #menubar mode="side">
        
        <mat-expansion-panel hideToggle 
            (opened)="opened2D = true"
            (closed)="opened2D = false">

            <mat-expansion-panel-header>
                <mat-panel-title [ngClass]="{highlight: opened2D}">
                    2D DASHBOARD
                </mat-panel-title>
            </mat-expansion-panel-header>

            <h3>Marina Beach</h3>
            <ul>
                <li><a routerLink="/swq" routerLinkActive="selectedLink">Sea Water Quality</a></li>
                <li><a routerLink="/pwq" routerLinkActive="selectedLink">Product Water Quality</a></li>
                <li><a routerLink="/spc" routerLinkActive="selectedLink">System Power Consumption</a></li>
                <li><a routerLink="/bdq" routerLinkActive="selectedLink">Brine Discharge Quality</a></li>
                <li><a routerLink="sld" routerLinkActive="selectedLink">Single Line Diagram</a></li>
            </ul>

        </mat-expansion-panel>

        <mat-expansion-panel hideToggle
            (opened)="opened3D = true"
            (closed)="opened3D = false">

            <mat-expansion-panel-header>
                <mat-panel-title [ngClass]="{highlight: opened3D}">
                    3D DASHBOARD
                </mat-panel-title>
            </mat-expansion-panel-header>

        </mat-expansion-panel>

    </mat-sidenav>

    <mat-sidenav-content>

        <router-outlet></router-outlet>

    </mat-sidenav-content>

</mat-sidenav-container>
